<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.ssd.delivery.dao.mybatis.mapper.ChatMapper">
	<cache />

	<insert id="insertChat" parameterType="ChatDTO">
		INSERT INTO CHATMESSAGE
		(CHATID, USERNAME, CONTENT, CHATDATE, ROOMID)
		VALUES
		(chat_seq.nextval, #{username}, #{content}, #{chatDate}, #{roomId})
	</insert>

	<insert id="createRoomId">
		INSERT INTO CHATROOM
		(ROOMID)
		VALUES
		(CHATROOM_SEQ.NEXTVAL)
	</insert>
	
	<insert id="insertChatRoomInfo" parameterType="map">
		<selectKey keyProperty="roomId" resultType="int" order="BEFORE">
	    	SELECT MAX(ROOMID) FROM CHATROOM
	    </selectKey>
	    
		INSERT INTO CHATROOMJOIN
		(JOINID, USERNAME, ROOMID)
		VALUES
		(CHATROOMJOIN_SEQ.NEXTVAL, #{username}, #{roomId})
	</insert>
	
	<select id="getRoomId" resultType="int" parameterType="String">
		SELECT ROOOMID
		FROM CHATRROMJOIN
		WHERE USERNAME = #{username}
	</select>
	
	<select id="getUsernameByRoomId" resultType="String" parameterType="int">
		SELECT USERNAME
		FROM CHATROOMJOIN
		WEHRE ROOMID = #{roomId}
	</select>
	
	<select id="getRoomIdByUsername" resultType="int" parameterType="String">
		SELECT ROOMID
		FROM CHATROOMJOIN
		WHERE USERNAME = #{username}
	</select>
	
	<select id="getChatListByRoomId" resultType="ChatDTO" parameterType="int">
		SELECT *
		FROM CHATMESSAGE
		WHERE ROOMID = #{roomId}
	</select>

</mapper>